<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pedir Produtos</title>
</head>
<body>
    <h1>Produtos Disponíveis</h1>
    <form action="/pedirProdutos" method="post">
        {% for produto in produtos %}
            <div>
                <img src="{{ produto.foto_caminho }}" alt="{{ produto.nome }}" width="90" height="130">
                <h2>{{ produto.nome }}</h2>
                <p>Marca: {{ produto.marca }}</p>
                <p>Validade: {{ produto.validade }}</p>
                <p>Preço: {{ produto.preco }}</p>
                <p>Quantidade Disponível: {{ produto.quantidade_disponivel }}</p>
                <label for="quantidade_{{ produto.nome }}">Quantidade:</label>
                <input type="number" id="quantidade_{{ produto.nome }}" name="quantidade_{{ produto.nome }}" value="1" min="1" max="{{ produto.quantidade_disponivel }}">
            </div>
            <hr>
        {% endfor %}
        <br>
        <input type="submit" value="Fazer Pedido">
    </form>
    <br>
    <a href="/menu">Voltar para Menu</a>
</body>
</html>
